#landing-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  max-width: 1300px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 20px 15px;
  text-align: center;
}

#landing-page-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 25px;
}

#section-header,
#typed-container {
  display: inline;
  margin: 0;
  color: #230903;
}

#typed-container {
  display: inline-block;
}
