#all-recipes-page-container {
  display: flex;
  min-height: 100vh;
  margin: 0 20px;
  padding: 0 15px;
}

.all-recipes-grid {
  padding: 20px;
  margin-top: 25px;
  column-count: 5;
  column-gap: 20px;
}

.recipe-tile {
  position: relative;

  min-width: 200px;
  background-color: #f9f9f9;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin-bottom: 20px;

  text-align: center;
  overflow: hidden;

  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  break-inside: avoid; /* Prevent tiles from breaking between columns */
  transition: box-shadow 0.3s ease-in-out;
}

.all-recipes-link {
  text-decoration: none;
}

.recipe-highlight {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-grow: 1;
}

.recipe-description {
  display: -webkit-box; /* Enables text clamping */
  -webkit-line-clamp: 4; /* Limit to 3 lines of text */
  -webkit-box-orient: vertical; /* Required for clamping */
  overflow: hidden; /* Hides overflow text */
  text-overflow: ellipsis; /* Adds "..." if text exceeds limit */
  color: #555;
  margin-top: 10px;
  font-size: 1rem;
  text-align: left;
  line-height: 1.4; /* Controls line spacing */
  word-wrap: break-word; /* Wraps long words */
}

/* Tablet size (portrait or medium screens) */
@media (max-width: 1300px) {
  .recipes-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

/* Tablet size (portrait or medium screens) */
@media (max-width: 1024px) {
  .all-recipes-grid {
    column-count: 4;
  }
}

/* Mobile size */
@media (max-width: 768px) {
  .recipes-grid {
    column-count: 3;
    column-gap: 20px;
    padding: 20px;
  }
}

@media (max-width: 480px) {
  .all-recipes-grid {
    column-count: 1;
  }

  .recipe-tile {
    padding: 10px;
  }
}
