.recipe-details-container {
  display: flex;
  background-color: white;
  min-width: 375px;
  max-width: 1100px;
  margin: 25px auto;
  padding: 25px;
  border-radius: 50px;
}

.recipe-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.recipe-details {
  display: flex;
  flex-direction: column;
}

.detail-main {
  display: flex;
}

.right-side {
  flex: 1;
  padding: 30px;
  margin-right: 25px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.recipe-name {
  font-size: 2.25em;
  color: #465775;
}

.left-side {
  margin-top: 20px;
}

.right-side h3 {
  color: #465775;
  margin-bottom: 10px;
  margin-top: 20px;
  border-bottom: 1px solid #ccc;
}

.list {
  margin-right: 30px;
}

#recipe-photo-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-slider {
  height: 500px;
  width: 375px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #9c9f773c;
  border-radius: 15px;
}

.image-container {
  display: flex;
  align-items: center;

  height: 200px;
}

.image-container img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
  border-radius: 10px;
}

.placeholder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 375px;
}

#photo-action-buttons {
  margin: 25px 0px;
  display: flex;
  gap: 20px;
}

.add-photo-icon {
  font-size: 5em;
}
.add-edit-photo-icon {
  display: flex;
  justify-content: center;
  font-size: 1.25em;
  padding-right: 5px;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px 0;
  padding: 5px 10px;
  font-size: 1em;
  color: white;
  background-color: rgb(70, 87, 117, 0.9);
  border-radius: 5px;
}

button:hover {
  background-color: #465775;
}

/* Navigation buttons */
.add-button {
  background-color: #465775;
  border: none;
  border-radius: 50%;
  font-size: 2rem;
  color: white;
  cursor: pointer;
}

button:focus {
  outline: none;
}

.prev-button,
.next-button {
  margin: 5px;
  border-radius: 50%;
  background-color: rgb(244, 166, 166);
  color: #230903;
  font-size: 1rem;
}

.prev-button:hover,
.next-button:hover {
  margin: 5px;
  border-radius: 50%;
  background-color: #f4a6a6;
  color: #230903;
  font-size: 1rem;
}

/* Media Queries */
@media (max-width: 1024px) {
  .recipe-details-container {
    margin: 5% 15%;
  }

  .detail-main {
    display: flex;
    flex-direction: column;
  }
}

/* For tablets and smaller screens */
@media (max-width: 768px) {
  .recipe-details-container {
    margin: 5%;
  }
}

/* Mobile-specific adjustments */
@media (max-width: 480px) {
  .recipe-details-container {
    min-width: 300px;
    margin: 5%;
    padding: 10% 5%;
    border-radius: 50px;
  }

  .image-slider {
    height: 300px;
    width: 300px;
  }

  .image-container img {
    margin: 0px;
    padding: 0px;
  }

  button {
    font-size: 1em;
  }
  .recipe-name {
    font-size: 1.25em;
  }

  .recipe-details {
    padding: 0px;
  }

  .left-side,
  .right-side {
    margin: 0px;
    padding: 0px;
  }
}
