#all-recipes-page-container {
  display: flex;
  min-height: 100vh;
  margin: 0 20px;
  padding: 0 15px;
}

#manage-recipe-buttons {
  display: flex;
  justify-content: flex-start;
}

.recipes-grid {
  margin-top: 25px;
  column-count: 5;
  column-gap: 15px;
}

.recipe-tile {
  position: relative;

  min-width: 200px;
  background-color: #f9f9f9;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin-bottom: 20px;

  text-align: center;
  overflow: hidden;

  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  break-inside: avoid; /* Prevent tiles from breaking between columns */
  transition: box-shadow 0.3s ease-in-out;
}

.recipe-tile:hover {
  opacity: 1;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
}

.recipe-tile-name {
  font-weight: 500;
  font-size: 1.25em;
  text-align: left;
}

.recipe-image-container {
  position: relative; /* Enables positioning of child elements relative to this container */
  width: 100%;
  height: auto;
  overflow: hidden;
  border-radius: 8px;
  margin-bottom: 15px;
}

.recipe-image {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.recipe-action-buttons {
  position: absolute;
  top: 25px; /* Adjusts the position from the top of the image */
  right: 25px; /* Adjusts the position from the right of the image */
  display: flex;
  gap: 8px; /* Adds space between buttons */
  opacity: 0; /* Hidden by default */
  transition: opacity 0.3s ease-in-out;
  z-index: 2; /* Ensures buttons are above the image */
}

.recipe-tile:hover .recipe-action-buttons {
  opacity: 1;
}

#delete-button {
  color: black;
}

.recipe-tile:hover .recipe-action-buttons {
  opacity: 1;
}

.recipe-action-buttons > button {
  font-size: 1.25em;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.recipe-action-buttons > button:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
.recipe-highlight {
  padding: 10px;
  text-align: center;
}

/* Tablet size (portrait or medium screens) */
@media (max-width: 1024px) {
  .recipes-grid {
    column-count: 3;
    column-gap: 15px;
  }
}

/* Mobile size */
@media (max-width: 768px) {
  .recipes-grid {
    column-count: 2;
    column-gap: 15px;
  }

  #manage-recipe-buttons {
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 480px) {
  #manage-recipe-buttons {
    display: flex;
    justify-content: flex-start;
  }

  .recipes-grid {
    column-count: 1;
    column-gap: 15px;
  }
}
